.puzzle-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-radius: 10px;
}
.puzzle-wrapper .helper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #bdbdbd;
  border: solid 3px #aeaeac;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}

.puzzle-wrapper .helper-wrapper .helper {
  position: absolute;
}
.puzzle-wrapper .pieces-wrapper .draggable {
  position: absolute;
  opacity: 1;
  z-index: 20;
}
.puzzle-wrapper .helper .piece,
.puzzle-wrapper .draggable .piece {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}
.helper .piece{
  // content: '';
  // position: absolute;
  // top:0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // background-color: rgba(0,0,0,0.3);
  opacity: 0.6;
}
.puzzle-wrapper .pieces-wrapper {
  // display: none;
  overflow: visible;
}
.puzzle-wrapper .pieces-wrapper:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 10;
}
.puzzle-wrapper .helper-wrapper .draggable.locked {
  display:none;
}
.pile-piece {
    padding: 0 1px 0 9px;
    box-sizing: border-box;
}
.pile-piece img {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}
