body {
	background-color: darkgray;
}
div.jigsaw div.puzzle {
    opacity: 0.7;
}

div.jigsaw {
    background-color: #dcdcdc;
}
div.jigsaw div.menu {
    display: none
}
#cboxLoadedContent {
	text-align: center;
}
#pile {
	z-index: 40;
}
#pile .piece {
	background-repeat: no-repeat;
}
#helper {
	position: absolute;
    width: 577px;
    height: 392px;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
}
#helper .helper-wrapper {
	position: absolute;
	background-color: #bdbcbc;
	padding: 1px;
	opacity: 0.9;
}
#helper .helper {
	opacity: 0.8;
	background-color: transparent;
	background-repeat: no-repeat;

}
#helper .helper.small {
     width: 43px;
     height: 43px;
}

#helper .helper.normal {
    width: 86px;
    height: 86px;
}
 
#helper .helper.big {
    width: 170px;
    height: 170px;
}
#helper div.normal.helper_0000 {
     -webkit-mask-image: url('masks/0000.png');
}
 
#helper div.normal.helper_0001 {
     -webkit-mask-image: url('masks/0001.png');
}
 
#helper div.normal.helper_0010 {
     -webkit-mask-image: url('masks/0010.png');
}
 
#helper div.normal.helper_0011 {
     -webkit-mask-image: url('masks/0011.png');
}
 
#helper div.normal.helper_0100 {
     -webkit-mask-image: url('masks/0100.png');
}
 
#helper div.normal.helper_0101 {
     -webkit-mask-image: url('masks/0101.png');
}
 
#helper div.normal.helper_0110 {
     -webkit-mask-image: url('masks/0110.png');
}
 
#helper div.normal.helper_0111 {
     -webkit-mask-image: url('masks/0111.png');
}
 
#helper div.normal.helper_1000 {
     -webkit-mask-image: url('masks/1000.png');
}
 
#helper div.normal.helper_1001 {
     -webkit-mask-image: url('masks/1001.png');
}
 
#helper div.normal.helper_1010 {
     -webkit-mask-image: url('masks/1010.png');
}
 
#helper div.normal.helper_1011 {
     -webkit-mask-image: url('masks/1011.png');
}
 
#helper div.normal.helper_1100 {
     -webkit-mask-image: url('masks/1100.png');
}
 
#helper div.normal.helper_1101 {
     -webkit-mask-image: url('masks/1101.png');
}
 
#helper div.normal.helper_1110 {
     -webkit-mask-image: url('masks/1110.png');
}
 
#helper div.normal.helper_1111 {
     -webkit-mask-image: url('masks/1111.png');
}

#helper div.big.helper_0000 {
     -webkit-mask-image: url('masks/big/0000.png');
}
 
#helper div.big.helper_0001 {
     -webkit-mask-image: url('masks/big/0001.png');
}
 
#helper div.big.helper_0010 {
     -webkit-mask-image: url('masks/big/0010.png');
}
 
#helper div.big.helper_0011 {
     -webkit-mask-image: url('masks/big/0011.png');
}
 
#helper div.big.helper_0100 {
     -webkit-mask-image: url('masks/big/0100.png');
}
 
#helper div.big.helper_0101 {
     -webkit-mask-image: url('masks/big/0101.png');
}
 
#helper div.big.helper_0110 {
     -webkit-mask-image: url('masks/big/0110.png');
}
 
#helper div.big.helper_0111 {
     -webkit-mask-image: url('masks/big/0111.png');
}
 
#helper div.big.helper_1000 {
     -webkit-mask-image: url('masks/big/1000.png');
}
 
#helper div.big.helper_1001 {
     -webkit-mask-image: url('masks/big/1001.png');
}
 
#helper div.big.helper_1010 {
     -webkit-mask-image: url('masks/big/1010.png');
}
 
#helper div.big.helper_1011 {
     -webkit-mask-image: url('masks/big/1011.png');
}
 
#helper div.big.helper_1100 {
     -webkit-mask-image: url('masks/big/1100.png');
}
 
#helper div.big.helper_1101 {
     -webkit-mask-image: url('masks/big/1101.png');
}
 
#helper div.big.helper_1110 {
     -webkit-mask-image: url('masks/big/1110.png');
}
 
#helper div.big.helper_1111 {
     -webkit-mask-image: url('masks/big/1111.png');
}
