/* required snapPuzzle styles */
.snappuzzle-wrap { position: relative; display: block; }
.snappuzzle-pile { position: relative; }
.snappuzzle-piece { cursor: move;  transition: opacity 0.8s;}
.snappuzzle-piece.correct {}
.snappuzzle-slot { position: absolute; background: #fff; opacity: .9; }
.snappuzzle-slot-hover { background: #eee; }