/****************************************************************************************
    Fonts
    ***************************************************************************************/
/* 
@font-face {
    font-family: 'skater_girls_rockregular';
    src: url('../fonts/skater_girls_rock-webfont.woff2') format('woff2'),
         url('../fonts/skater_girls_rock-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');



/****************************************************************************************
    Project styles
    ***************************************************************************************/
    /* Large Devices, Wide Screens */
    @media(min-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media(min-width : 992px) {

    }

    /* Small Devices, Tablets */
    @media(min-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media(min-width : 480px) {

    }

    html, body {
        font-family: 'Roboto', sans-serif;
    }
    body
    {

        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-position: center top;
        height: 100%;
        min-height: 600px;
        font-family: Helvetica, arial, sans-serif;
    }
    #main-wrapper
    {
        margin-top: 100px;
        position: relative;

    }
    #top-nav
    {
        height: 100px;
        width: 100%;
        position: absolute;
        top:-100px;
        z-index: 3;
    }
    #btn-back-to-menu
    {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 270px;

    }
    #btn-back-to-menu a
    {
        text-decoration: none !important;
        color: white !important;
        background-color: #f59c15;
        padding: 5px 10px;
        border: 2px white solid;
        border-radius: 20px;
        font-size: 14px;

    }
    #btn-back-to-start
    {
        display: inline-block;
        position: absolute;
        top: 120px;
        left: 645px;
        width: 120px;
    }
    #btn-back-to-start a
    {
        text-decoration: none !important;
        color: white !important;
        background-color: #dc981d;
        padding: 5px 10px;
        border: 2px white solid;
        border-radius: 10px;
        font-size: 12px;

    }

    #btn-flag
    {
        position: absolute;
        display: block;
        overflow: hidden;
        background-image: url("../img/flag.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 181px;
        height: 93px;
        left: 0px;
        top: 18px;
    }
    #btn-flag a
    {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -500%;
    }

    #btn-vip
    {
        display: inline-block;
        overflow: hidden;
        background-image: url("../img/vip-logo.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 180px;
        height: 71px;
        margin: 0 10px;
        vertical-align: middle;
        display: none;
    }
    #btn-vip a
    {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -500%;
    }
    #btn-footer
    {
        position: absolute;
        display: block;
        overflow: hidden;
        bottom: -80px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
    }
    #btn-zenu
    {
        display: inline-block;
        overflow: hidden;
        background-image: url("../img/zenu-logos.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 207px;
        height: 34px;
        vertical-align: middle;
        margin: 0 10px;
    }
    #btn-zenu a
    {
        display: block;
        width: 100%;
        height: 100%;
        text-indent: -500%;
    }

    #message-modal-box-wrapper
    {
        font-family: 'Roboto', sans-serif;
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: -6px;
        left: 0;
        z-index: 30;
        background-image: url("../img/bg-screen.png");
        background-repeat: no-repeat;
        background-position: center;
    }
    .modal-play-button {
        background-color: #f4312f;
        border: solid 3px #fcbd00;
        color: #fff;
        font-size: 18px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        margin-left: -80px;
        width: 160px;
        line-height: 26px;
        text-align: center;
        padding: 5px 0;
        font-weight: bold;
        cursor: pointer;
    }
    #message-modal-box
    {
        position: absolute;
        display: none;
        overflow: hidden;
        background-image: url("../img/msg-box.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 420px;
        height: auto;
        top: 130px;
        left: 50%;
        z-index: 4;
        background-size: 100% 100%;
        margin-left: -210px;
        padding-top: 20px;
    }
    #message-modal-box .modal-play-button {
        position: relative; 
        top: auto; 
        left: auto; 
        bottom: auto; 
        right: auto;
        margin: -20px auto 20px auto;
    }
    #start-message-modal-box {
        overflow: visible;
        top: 0.8%;
        background-image: url(../img/bg-msg_inicio.png);
        width: 98%;
        height: 98%;
        left: 1%;
        margin: 0;
        background-size: 100% 100%;
        position: absolute;
    }


    #modal-close-button,
    #modal-final-close-button {
        position: absolute;
        right: 0;
        top: 0;
        background-color: #f4312f;
        width: 30px;
        height: 30px;
        line-height: 27px;
        font-size: 15px;
        border-radius: 50%;
        border: solid 3px #fcbd00;
        color: #fff;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        padding: 0;
    }
    #message-final-box
    {
        position: absolute;
        display: none;
        overflow: hidden;
    //
    background-image: url("../img/final-msg.png");
    background-image: url("../img/msg-box.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 428px;
    height: auto;
    top: 102px;
    left: 50%;
    z-index: 4;
    background-size: 100% 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
    margin-left: -214px;
}

#message-modal-box h1, #message-final-box h1
{
    color: #ff8000;
    font-family: 'Roboto Condensed', sans-serif;
    //
    font-family: Helvetica, arial, sans-serif;
    font-size: 2em;
    padding: 20px 30px 0px 30px;
    text-transform: uppercase;
    margin: 0;
}
#message-final-box h1 {
    /* color: white; */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
#message-modal-box p
{
    color: #464646;
    font-size: 18px;
    line-height: 1.2em;
    padding: 20px 40px 40px 40px;
    margin: 0;
}
#message-modal-box p strong {
    color: #d43432;
    font-size: 22px;
}
#message-final-box p {
    color: #464646;
    font-size: 18px;
    line-height: 1.2em;
    padding: 20px 10px 40px 10px;
    margin: 0;
}
#start-message-modal-box p {
    color: #464646;
    font-size: 18px;
    line-height: 1.2em;
    padding: 20px 10px 40px 10px;
    margin: 0;
    font-weight: 600;
    text-align: center;
    line-height: 1.3em;
    font-size: 17.5px;
    padding-top: 20px;
    width: 466px;
    margin: 0 auto;
    margin-top: 100px;
}
#message-final-box p strong, #start-message-modal-box p strong{
    // font-family: Helvetica, arial, sans-serif;
    color: #ff8000;
    font-size: 22px;
    font-weight: 700;
}
#message-final-box p {
    /* color: white; */
    font-size: 18px;
    line-height: 1.2em;
    font-family: Roboto Condensed;
    text-align: center;
}

#message-final-box p span {
    // font-family: 'skater_girls_rockregular';
    // font-family: Helvetica, arial, sans-serif;
    color: #fdd945;
    font-size: 1.3em;
    font-weight: 700;
}

#start-message-modal-box p strong {
    font-size: 18px;
}
#start-message-modal-box .modal-play-button {
    bottom: 40px;
    border-radius: 15px;
}

#game-container
{

    /* background-color: #fff; */
    background-image: url("../img/bg-white.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 722px;
    height: 439px;
    padding: 3px 4px;
    position: relative;
}

#game-board
{   
    background-image: url("../img/bg-game.png");
    background-repeat: no-repeat;
    background-position: center top;
    width: 714px;
    height: 433px;
    position: relative;
    // background-color: white;
    // height: 320px;
    // float: left;
    // margin-top: 8px;
}
#board 
{
    margin-top: 5px;
    background-color: white;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    border-bottom: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-radius:0px 0px 20px 20px;
    
}
tr td{
    font-size: 18px;
    color: #686868;
    // font-family: 'skater_girls_rockregular';
}
#words-container-desktop
{
    width: 180px;
    margin-right: 20px;
    margin-left: 20px;
    float: left;
    margin-top: 60px;
    position: relative;
    
}
#back-shadow
{
    position: absolute;
    border-radius: 50px 50px 0px 0px;
    background-color: #693717;
    width: 180px;
    height: 25px;
    top: -10px;
    left: 0px;
    z-index: 0;
}
#words-container-desktop ul
{
    position: absolute;
    z-index: 1;
    list-style: none;
    width: 100%;
    
    display: inline-block;

    margin: 0;
    padding: 0;
    
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 20px;

    background-color: #ff8000;
    color: white;
    border-radius: 20px;
    border: 1px #ffb300 solid;

    box-shadow: 0px 0px 0px 4px #b75305;
    
}
#words-container-desktop ul li.word-selector
{
    width: 100%;
    float: left;
    clear: both;
    padding-left: 10px;
    // font-family: 'skater_girls_rockregular';
    font-size: 18px;
    position: relative;
}
.word-selector .check-mark {
    visibility: hidden;
    color: #ffda31;
    margin-right: 3px;
    // font-family: Helvetica, arial, sans-serif;
    font-size: 1.2em;
    line-height: 18px;
}
.word-selector.checked .check-mark {
    visibility: visible;
}
#words-container-mobile
{
    height: 340px;   
    opacity: 0.5;
}


/****************************************************************************************
MQ Extended Boostrap classes
***************************************************************************************/
.col-centered
{
    float: none;
    margin: 0 auto;
}


#board 
{
    position: relative;
    // font-family: 'neucharegular';
    font-weight: bold;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    z-index: 1;
    text-align: center;
    border-collapse: collapse;
    border-spacing: 0px;
    
}
td {
    position: relative;
    margin: 0;
    cursor: pointer;
}
td div {
    width: 22px;
    height: 22px;
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}
td div p {
    padding: 0;
    margin-top: 20%;
    margin-bottom: 10%;
}
.gameIcon
{
    background-image:url("../img/icon.png")
}
.icon{
    position:relative;
    z-index:2;
    
}
.resultWrapper {
    position: relative;
    margin-top: 25px;
    // font-family: 'neucharegular';
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    width: 97%;

}
.resultWrapper a{
    top: -6px;
    position: relative;
}
.result{
    background-repeat: no-repeat;
    background-image: url("../img/wrong.png");
    height: 25px;
    width: 25px;
    background-size:100%;
    z-index: 20;
    display:inline-block;
    margin-left: 20px;
    margin-right: 10px;
}

[result="correct"].result
{
    background-image:url("../img/correct.png");
}




/* Tetris Game Styles */
#game-board {

}
.tetris-wrapper {

    position: absolute;

    width: 696px;

    height: 392px;

    top: 35px;

    left: 11px;
}
div.jigsaw {
    border: none;
    background-color: transparent;
}
/* required snapPuzzle styles */
#puzzle-canvas-wrapper {

    position: absolute;

    width: 577px;

    height: 392px;

    top: 0;

    left: 0;

    box-sizing: border-box;

    border-radius: 12px;

    overflow: visible;
}
#puzzle-canvas {
    position: relative; 
    width: 100%;
    height: 100%;
}
#puzzle-canvas img {
    width: 100%;
    height: auto;
}
#pile {
    position: absolute;
    top: 0;
    right: 0;
    width: 114px;
    height: 392px;
    overflow: auto;
}
#pile {
    background: none;
    border: none;
}
#pile .piece {
    margin: 10px auto;
    /*-ms-transform: scale(0.4, 0.4);
    -webkit-transform: scale(0.4, 0.4);
    transform: scale(0.4, 0.4);*/
    zoom: 0.4;
}
.game-ctrl-button {
    width: 60px;
    height: 53px;
    background-color: #ffb904;
    border-radius: 8px;
    border-bottom: 5px solid #ff7a04;
    line-height: 53px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    background-image: radial-gradient(circle farthest-corner at 30px -9px , #ff9f04 0%, #ff9f04 50%, #ffb904 51%);
    font-family: 'FontAwesome';
    font-size: 31px;
    color: #e12121;
    cursor: pointer;
}
#tetris-pause-button {
    position: absolute;
    top: 272px;
    left: 115px;
}
#tetris-pause-button:before {
    content: "\f04c";
}
#tetris-pause-button.paused:before {
    content: "\f04b";
}
#tetris-volume-button {
    position: absolute;
    top: 310px;
    right: 93px;
}
#tetris-volume-button:before {
    content: "\f028";
}
#tetris-volume-button.muted:before {
    content: "\f026";
}
#tetris-marker-wrapper {
    position: absolute;
    background-color: #8fdad8;
    border: solid 1px #fff;
    width: 132px;
    height: 66px;
    top: 158px;
    left: 555px;
    padding: 6px 10px;
}
#tetris-marker-wrapper .level {
    font-size: 20px;
    line-height: 52px;
    color: #376166;
}
#tetris-marker-wrapper .level span {
    color: #376166;
    font-weight: bold;
    text-shadow: 1px 2px #fff;
}


/* Override blockrain styles */
.blockrain-score-msg {
    display: none;
}
.blockrain-score-num {
    display: none;
}